@page
@model BookBuddy.Pages.IndexModel

<div class="container mt-4">
    <h1 class="display-4">BookBuddy</h1>
    <p>Dobrodošli v aplikaciji za upravljanje knjig.</p>

    <ul>
        <li><a asp-page="/Auth/Register">Registracija</a></li>
        <li><a asp-page="/Auth/Login">Prijava</a></li>
        <li><a asp-page="/Books/Add">Dodaj knjigo</a></li>
    </ul>
</div>
