@page
@model BookBuddy.Pages.Users.MyStatsModel

<h2>Moja knjižna statistika</h2>

<p><strong>Prebranih knjig:</strong> @Model.TotalBooks</p>

<p><strong>Povprečna ocena:</strong> @Model.AverageRating</p>